---
layout: default
---

<!-- about.html -->
      <div class="post">
        <header class="post-header">
          <h1 class="post-title">
           {% if site.title == "blank" -%}<span class="font-weight-bold">{{ site.first_name }}</span> {{ site.middle_name }} {{ site.last_name }}{%- else -%}{{ site.title }}{%- endif %}
          </h1>
          <p class="desc">{{ page.subtitle }}</p>
        </header>

        <article>
          {% if page.profile -%}
          <div class="profile float-{%- if page.profile.align == 'left' -%}left{%- else -%}right{%- endif -%}">
            {%- if page.profile.image %}
              {%- assign profile_image_path = page.profile.image | prepend: 'assets/img/' -%}

              {% if page.profile.image_circular %}
                {%- assign profile_image_class = "img-fluid z-depth-1 rounded-circle" -%}
              {% else %}
                {%- assign profile_image_class = "img-fluid z-depth-1 rounded" -%}
              {% endif %}

              {% include figure.html 
              path=profile_image_path 
              class=profile_image_class
              alt=page.profile.image -%}
            {% endif -%}
            {%- if page.profile.address %}
            <div class="address">
              {{ page.profile.address }}
            </div>
            {%- endif %}
          </div>
          {%- endif %}

          <div class="clearfix">
            {{ content }}
          </div>

          {% if page.experience -%}
            <!-- Full time companies -->
            <br>
            <h2>Industry full time</h2>
            <div class="gallery">
              <figure class="gallery__item gallery__item--1">
                <img src="assets/img/microsoft-logo.png" class="gallery__img" alt="Microsoft">
                <p><center><b>Microsoft (2015-17)</b></center></p>
              </figure>
            </div>
          {%- endif %}
          {% if page.internships -%}
            <!-- Internship companies -->
            <br>
            <h2>Internships</h2>
            <div class="gallery">
              <figure class="gallery__item gallery__item--1">
                <img src="assets/img/microsoft-logo.png" class="gallery__img" alt="Microsoft">
              </figure>
              <figure class="gallery__item gallery__item--2">
                <img src="assets/img/salesforce-logo.png" class="gallery__img" alt="Salesforce">
              </figure>
              <figure class="gallery__item gallery__item--3">
                <img src="assets/img/meta-logo.png" class="gallery__img" alt="Meta">
              </figure>
              <figure class="gallery__item gallery__item--4">
                <img src="assets/img/google-logo.png" class="gallery__img" alt="Google">
              </figure>
              <p class="gallery__item gallery__item--5"><center><b>Microsoft (2014)</b></center></p>
              <p class="gallery__item gallery__item--6"><center><b>Salesforce (2019)</b></center></p>
              <p class="gallery__item gallery__item--7"><center><b>Meta (2020)</b></center></p>
              <p class="gallery__item gallery__item--8"><center><b>Google (2021)</b></center></p>
            </div>
            <br>
          {%- endif %}

          {% if page.news -%}
          <!-- News -->
          {%- include news.html %}
          {%- endif %}
          {% if page.selected_papers -%}
            <!-- Selected papers -->
            {%- include selected_papers.html %}
          {%- endif %}
          {%- if page.social %}
          <!-- Social -->
          <div class="social">
            <div class="contact-icons">
            {% include social.html %}
            </div>

            <div class="contact-note">
              {{ site.contact_note }}
            </div>
            
          </div>
          {%- endif %}
        </article>

</div>
